#container {
    width: 640px;
    height: 480px;
    position: relative;
  }
  #navi,
  #scene {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #scene {
    z-index: 10;
  }